<div id="admin_container_biochemistry_finals">
  <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;">Final de Bioquímica</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_biochemistry_final_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="biochemistry_final_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @biochemistry_finals.each do |biochemistry_final| %>
          <tr>
            <td><%= link_to biochemistry_final.title, biochemistry_final_path(biochemistry_final) %></td>
            <td><%= biochemistry_final.description %></td>
            <td><%= link_to "Editar", edit_biochemistry_final_path(biochemistry_final), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", biochemistry_final_path(biochemistry_final), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>