<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Final de Bioquímica</h1>
    <br>
        <% @biochemistry_finals.each do |biochemistry_final| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to biochemistry_final.title, producto_biochemistry_finals_content_path(biochemistry_final) %></h5>
                    <p class="card-text"><%= raw biochemistry_final.text %></p>
                    <p class="card-text"><%= biochemistry_final.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>