<div id="admin_container">
  <h2 id="admin_form" class="subtitle">Contenido del final de Bioquímica</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", biochemistry_finals_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @biochemistry_final.title %></h5>
      <p class="card-text"><%= raw @biochemistry_final.text %></p>
      <p class="card-text"><%= raw @biochemistry_final.description %></p>

      
      <%= link_to "Editar", edit_biochemistry_final_path(@biochemistry_final), class:"btn btn-success" %>
      <%= link_to "Eliminar", biochemistry_final_path(@biochemistry_final), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  
  <%= render @biochemistry_final.biochemistry_final_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'biochemistry_final_contents/form' %>

</div>