<section class="section-login">
  
  <div class="box">
    
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>
    
    <div class="container"> 
      <div class="form"> 
        <h2>LOGIN</h2>
        <%= form_with(url: login_path, method: :post, class:"form-login") do |form| %>
          <div class="inputBx">
            <%= form.email_field :email, required: true, autocomplete: 'off' %>
            <span>Email</span>
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="inputBx password">
            <%= form.password_field :password, id:"password-input", minlength: 8, required: true, autocomplete: 'off' %>
            <span>Password</span>
            <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
            <i class="fas fa-key"></i>
          </div>
          <div class="inputBx">
            <%= form.submit "Iniciar" %>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</section>

<script>
  function show_hide_password(target){
    var input = document.getElementById('password-input');
    if (input.getAttribute('type') == 'password') {
      target.classList.add('view');
      input.setAttribute('type', 'text');
    } else {
      target.classList.remove('view');
      input.setAttribute('type', 'password');
    }
    return false;
  }
</script>

