<div id="admin_container_histology_finals">
  <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;">Final de Histología</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_histology_final_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="histology_final_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @histology_finals.each do |histology_final| %>
          <tr>
            <td><%= link_to histology_final.title, histology_final_path(histology_final) %></td>
            <td><%= histology_final.description %></td>
            <td><%= link_to "Editar", edit_histology_final_path(histology_final), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", histology_final_path(histology_final), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>