<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Final de Histología</h1>
    <br>
        <% @histology_finals.each do |histology_final| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to histology_final.title, producto_histology_finals_content_path(histology_final) %></h5>
                    <p class="card-text"><%= raw histology_final.text %></p>
                    <p class="card-text"><%= histology_final.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>