<div id="admin_container">
  <h2 id="admin_form" class="subtitle">Contenido del Final de Anatomía C</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", anatomy_c_finals_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @anatomy_c_final.title %></h5>
      <p class="card-text"><%= raw @anatomy_c_final.text %></p>
      <p class="card-text"><%= raw @anatomy_c_final.description %></p>

      
      <%= link_to "Editar", edit_anatomy_c_final_path(@anatomy_c_final), class:"btn btn-success" %>
      <%= link_to "Eliminar", anatomy_c_final_path(@anatomy_c_final), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  
  <%= render @anatomy_c_final.anatomy_c_final_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'anatomy_c_final_contents/form' %>

</div>