<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Final de Anatomía B</h1>
    <br>
        <% @anatomy_b_finals.each do |anatomy_b_final| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to anatomy_b_final.title, producto_anatomy_b_finals_content_path(anatomy_b_final) %></h5>
                    <p class="card-text"><%= raw anatomy_b_final.text %></p>
                    <p class="card-text"><%= anatomy_b_final.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>