<div id="anatomy_b_final_container">
  <br>
  <h1 class="title_admin" style="text-align: center; margin: 215px 15px 0px;">Contenido del final de Anatomía B</h1>
  <br>
  <div class="card text-center cursada_card">
    <div class="card-body">
      <h5 class="card-title"><%= @anatomy_b_final.title %></h5>
      <p class="card-text"><%= raw @anatomy_b_final.text %></p>
      <p class="card-text"><%= raw @anatomy_b_final.description %></p>
    </div>
  </div>
    
  
  <h2  class="anatomy_b_final_subtitle"style="text-align: center; margin: 5px; padding: 5px;">Contenido</h2>
  <div class="div_card_container">
    <br />
    <% @anatomy_b_final.anatomy_b_final_contents.each do |anatomy_b_final_contents| %>
      <div class="card text-center div_card_children">
        <div class="card-body">
          <strong>
            <h5 class="card-title"><%= anatomy_b_final_contents.title %></h5>
          </strong>
          <h5 class="card-title"><%= raw anatomy_b_final_contents.text %></h5>
          <p class="card-text"><%= raw anatomy_b_final_contents.description %></p>
        </div>
      </div>
    <% end %>
    <br />
  </div>
</div>