<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Final de Fisiología</h1>
    <br>
        <% @physiology_finals.each do |physiology_final| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to physiology_final.title, producto_physiology_finals_content_path(physiology_final) %></h5>
                    <p class="card-text"><%= raw physiology_final.text %></p>
                    <p class="card-text"><%= physiology_final.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>