<div id="admin_container">
  <h2 id="admin_form" class="subtitle">Contenido del Final de Fisiología</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", physiology_finals_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @physiology_final.title %></h5>
      <p class="card-text"><%= raw @physiology_final.text %></p>
      <p class="card-text"><%= raw @physiology_final.description %></p>

      
      <%= link_to "Editar", edit_physiology_final_path(@physiology_final), class:"btn btn-success" %>
      <%= link_to "Eliminar", physiology_final_path(@physiology_final), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  
  <%= render @physiology_final.physiology_final_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'physiology_final_contents/form' %>

</div>