<div id="admin_container_anatomy_bs">
  <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;">Cursada de Anatomía B</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_anatomy_b_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="anatomy_b_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @anatomy_bs.each do |anatomy_b| %>
          <tr>
            <td><%= link_to anatomy_b.title, anatomy_b_path(anatomy_b) %></td>
            <td><%= anatomy_b.description %></td>
            <td><%= link_to "Editar", edit_anatomy_b_path(anatomy_b), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", anatomy_b_path(anatomy_b), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>