<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Cursada de Anatomía B</h1>
    <br>
        <% @anatomy_bs.each do |anatomy_b| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to anatomy_b.title, producto_anatomy_bs_content_path(anatomy_b) %></h5>
                    <p class="card-text"><%= raw anatomy_b.text %></p>
                    <p class="card-text"><%= anatomy_b.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>