<div id="admin_container">
  <h2 id="admin_form" class="subtitle">Contenido de la Cursada de Anatomía B</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", anatomy_bs_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @anatomy_b.title %></h5>
      <p class="card-text"><%= raw @anatomy_b.text %></p>
      <p class="card-text"><%= raw @anatomy_b.description %></p>

      
      <%= link_to "Editar", edit_anatomy_b_path(@anatomy_b), class:"btn btn-success" %>
      <%= link_to "Eliminar", anatomy_b_path(@anatomy_b), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  <%= render @anatomy_b.anatomy_b_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'anatomy_b_contents/form' %>

</div>