<div id="admin_container">
  <div class="card text-center admin_card">
    <div class="card-body">
      <strong>
        <h5 class="card-title"><%= anatomy_c_final_content.title %></h5>
      </strong>
      
      <h5 class="card-title"><%= raw anatomy_c_final_content.text %></h5>
      
      <p class="card-text"><%= raw anatomy_c_final_content.description %></p>
      <%= link_to "Editar",
        edit_anatomy_c_final_anatomy_c_final_content_path(anatomy_c_final_content.anatomy_c_final, anatomy_c_final_content),
        class: "btn btn-success" %>
      <%= link_to "Eliminar",
      anatomy_c_final_anatomy_c_final_content_path(anatomy_c_final_content.anatomy_c_final, anatomy_c_final_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
