<div id="admin_form">
  <div class="card text-center admin_cards">
    <div class="card-body">
      <strong>
        <h5 class="card-title"><%= physiology_content.title %></h5>
      </strong>
      
      <h5 class="card-title"><%= raw physiology_content.text %></h5>
      
      <p class="card-text"><%= raw physiology_content.description %></p>
      <%= link_to "Editar",
        edit_physiology_physiology_content_path(physiology_content.physiology, physiology_content),
        class: "btn btn-success" %>
      <%= link_to "Eliminar",
      physiology_physiology_content_path(physiology_content.physiology, physiology_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
