
<div id="admin_form">
  <%= form_with(model: @user, local: true) do |f| %>
    
    <div class="form-group div_card">
      <%= f.label 'Nombre' %><br>
      <%= f.text_field :first_name, class:"form-control" %>
    </div>
    
    <div class="form-group div_card">
      <%= f.label 'Apellido' %><br>
      <%= f.text_field :last_name, class:"form-control" %>
    </div>

    <div class="form-group div_card">
      <%= f.label 'Email' %><br>
      <%= f.email_field :email, class:"form-control" %><br>
    </div>

    <div class="form-group div_card">
      <%= f.label 'Contraseña' %><br>
      <%= f.password_field :password, class:"form-control" %><br>
    </div>

    <div class="form-group div_card">
      <%= f.label :role %>
      <%= f.select :role, [['Administrador', 'administrador'], ['Estudiante', 'estudiante']], {}, class: 'form-control' %>
    </div>

    <div class="form-group div_card" data-controller="random-string">
      <%= button_tag "Contraseña Aleatoria", type: "button", class: "btn btn-secondary", data: { action: "click->random-string#generateRandomString" }, id: "generateRandomStringBtn" %>
      <%= text_field_tag "randomStringField", "", id: "randomStringField", readonly: true, class: "form-control", data: { random_string_target: "randomStringField" } %>
    </div>
    <br>
    <div class="div_card">
      <%= f.submit %>
    </div>
  <% end %>

</div>
<br>
