<tr class="table-row">
  <td class="table-data" data-label="Apellido"><%= user.last_name%></td>

  <td class="table-data" data-label="Email"><%= user.email%></td>
  
  <%= form_with(url: user_path(user.id), scope: :user, method: :patch,
  data:{controller: "checkbox", "checkbox-id-value": user.id}) do |form| %>
    <td class="table-data" data-label="fisiologia_cursada">
      <%= form.check_box :fisiologia_cursada,{checked: user.fisiologia_cursada, id:"fisiologia_cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="fisiologia_final">
      <%= form.check_box :fisiologia_final,{checked: user.fisiologia_final,id:"fisiologia_final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>

    <td class="table-data" data-label="biologia_cursada">
      <%= form.check_box :biologia_cursada,{checked: user.biologia_cursada, id:"biologia_cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="biologia_final">
      <%= form.check_box :biologia_final,{checked: user.biologia_final,id:"biologia_final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>

    <td class="table-data" data-label="histologia_cursada">
      <%= form.check_box :histologia_cursada,{checked: user.histologia_cursada, id:"histologia_cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="histologia_final">
      <%= form.check_box :histologia_final,{checked: user.histologia_final,id:"histologia_final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>

    <td class="table-data" data-label="bioquimica_cursada">
      <%= form.check_box :bioquimica_cursada,{checked: user.bioquimica_cursada, id:"bioquimica_cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="bioquimica_final">
      <%= form.check_box :bioquimica_final,{checked: user.bioquimica_final,id:"bioquimica_final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>


    <td class="table-data" data-label="anatomia_a_cursada">
      <%= form.check_box :anatomia_a_cursada,{checked: user.anatomia_a_cursada, id:"anatomia_a_cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="anatomia_a_final">
      <%= form.check_box :anatomia_a_final,{checked: user.anatomia_a_final,id:"anatomia_a_final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>


    <td class="table-data" data-label="anatomia_b_cursada">
      <%= form.check_box :anatomia_b_cursada,{checked: user.anatomia_b_cursada, id:"anatomia_b_cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="anatomia_b_final">
      <%= form.check_box :anatomia_b_final,{checked: user.anatomia_b_final,id:"anatomia_b_final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>


    <td class="table-data" data-label="anatomia_c_cursada">
      <%= form.check_box :anatomia_c_cursada,{checked: user.anatomia_c_cursada, id:"anatomia_c_cursada#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
    <td class="table-data" data-label="anatomia_c_final">
      <%= form.check_box :anatomia_c_final,{checked: user.anatomia_c_final,id:"anatomia_c_final#{user.id}",
      onchange: 'this.form.submit();'}%>
    </td>
  <% end %>
  <td class="table-data" data-label="Eliminar">
    <%= button_to "Eliminar", user_path(user), method: :delete, data:
    {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres eliminar
    a este usuario?'} %>
  </td>
</tr>
