<%= render partial: 'shared/navbar_admin'%>
<br>
<h1 class="title_admin" style="text-align: center; margin: auto;">Panel de Usuarios</h1>
<br>
<%= form_tag(users_path, method: "get", class:'search-btn') do %>
  <%= text_field_tag :search_last_name, params[:search_last_name], placeholder: "Buscar por apellido" %>
  <%= submit_tag "Buscar", name: nil %>
<% end %>

<div id="link-users">
  <%= form_with(url: users_path, method: :get) do |f| %>
    <%= f.hidden_field :reset, value: 1%>
    <%= f.submit 'Reset', class: "btn btn-outline-dark mb-2 link-users-p", style: "margin: 5px;"%>
  <% end %>
</div>


<div class="table-wrapper">
  <table class="table-class">
    <thead class="table-thead">
      <th class="table-head">Apellido</th>

      <th class="table-head">Email</th>

      <th class="table-head">Fisiología Cursada</th>
      <th class="table-head">Fisiología Final</th>
      
      <th class="table-head">Biología Cursada</th>
      <th class="table-head">Biología Final</th>

      <th class="table-head">Histología Cursada</th>
      <th class="table-head">Histología Final</th>

      <th class="table-head">Bioquímica Cursada</th>
      <th class="table-head">Bioquímica Final</th>

      <th class="table-head">Anatomía A Cursada</th>
      <th class="table-head">Anatomía A Final</th>

      <th class="table-head">Anatomía B Cursada</th>
      <th class="table-head">Anatomía B Final</th>

      <th class="table-head">Anatomía C Cursada</th>
      <th class="table-head">Anatomía C Final</th>

      <th class="table-head">Eliminar</th>
    </thead>
    <tbody class="table-body">
      <%= render partial: "user", collection: @users %>
    </tbody>
  </table>
</div>

<style>
    .search-btn {
      display: flex;
      justify-content: center;
      gap: 5px;
    }

    .search-btn input {
      border-radius: 7px;
      text-align: center;
    }
</style>