<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Cursada de Biología</h1>
    <br>
        <% @biologies.each do |biology| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to biology.title, producto_biologies_content_path(biology) %></h5>
                    <p class="card-text"><%= raw biology.text %></p>
                    <p class="card-text"><%= biology.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>