<div id="biology_container">
  <br>
  <h1 class="title_admin" style="text-align: center; margin: 215px 15px 0px;">Contenido de la Cursada de Biología</h1>
  <br>
  <div class="card text-center cursada_card">
    <div class="card-body">
      <h5 class="card-title"><%= @biology.title %></h5>
      <p class="card-text"><%= raw @biology.text %></p>
      <p class="card-text"><%= raw @biology.description %></p>
    </div>
  </div>
    
  
  <h2  class="biology_subtitle"style="text-align: center; margin: 5px; padding: 5px;">Contenido</h2>
  <div class="div_card_container">
    <br />
    <% @biology.biology_contents.each do |biology_contents| %>
      <div class="card text-center div_card_children">
        <div class="card-body">
          <strong>
            <h5 class="card-title"><%= biology_contents.title %></h5>
          </strong>
          <h5 class="card-title"><%= raw biology_contents.text %></h5>
          <p class="card-text"><%= raw biology_contents.description %></p>
        </div>
      </div>
    <% end %>
    <br />
  </div>
</div>