<div id="admin_container">
  <h2 class="subtitle" style="text-align: center; margin: 215px 15px 0px;">Contenido de la Cursada de Biología</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", biologies_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @biology.title %></h5>
      <p class="card-text"><%= raw @biology.text %></p>
      <p class="card-text"><%= raw @biology.description %></p>

      
      <%= link_to "Editar", edit_biology_path(@biology), class:"btn btn-success" %>
      <%= link_to "Eliminar", biology_path(@biology), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  <%= render @biology.biology_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'biology_contents/form' %>

</div>