<footer id="footer">
  <div class="inner">
    <section style="width: 100%; margin-right: 0;">
      <h2 style="text-align: center;"><%= link_to 'Bottassi & Milone', root_path, class:"btn_as_link" %></h2>
      
      <ul class="divided icons col-12 col-12-mobile" style="text-align: center;">
        <li class="icon brands fa-instagram">
          <a href="https://www.instagram.com/instituto.bm?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" rel="noopener noreferrer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/50px-Instagram_icon.png" alt="Instagram">
          </a>
        </li>
        <li class="icon brands fa-whatsapp">
          <a href="https://wa.link/airk2w" target="_blank" rel="noopener noreferrer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/57px-WhatsApp.svg.png" alt="WhatsApp">
          </a>
        </li>
      </ul>

    </section>
    <ul class="copyright" style="text-align: center;">
      <li class="icon brands">
        <a href="https://portfolio-gp7q0fyut-bottassijuanignacio.vercel.app/" target="_blank">Programador Juan Ignacio Bottassi</a>
      </li>
    </ul>
  </div>
</footer>