
<div id="admin-menu">
  <button id='admin-toggle' class="bi bi-arrow-left-square-fill"></button>
  <nav class="admin-nav" id="admin-nav">
    <ul>
      <li><%= link_to "Nuevo Usuario", new_user_path %></li>

      <li><%= link_to "Anatomía A Cursada", anatomy_as_path %></li>

      <li><%= link_to "Anatomía A Final", anatomy_a_finals_path %></li>

      <li><%= link_to "Anatomía B Cursada", anatomy_bs_path %></li>

      <li><%= link_to "Anatomía B Final", anatomy_b_finals_path %></li>
    
      <li><%= link_to "Anatomía C Cursada", anatomy_cs_path %></li>

      <li><%= link_to "Anatomía C Final", anatomy_c_finals_path %></li>

      <li><%= link_to "Biología Cursada", biologies_path %></li>

      <li><%= link_to "Biología Final", biology_finals_path %></li>
      
      <li><%= link_to "Bioquímica Cursada", biochemistries_path %></li>

      <li><%= link_to "Bioquímica Final", biochemistry_finals_path %></li>

      <li><%= link_to "Histología Cursada", histologies_path %></li>

      <li><%= link_to "Histología Final", histology_finals_path %></li>

      <li><%= link_to "Fisiología Cursada", physiologies_path %></li>

      <li><%= link_to "Fisiología Final", physiology_finals_path %></li>

      <li><%= link_to "Extras", extras_path %></li>
    </ul>
  </nav>
</div>
<style>
  #admin-nav {
    display: none;
    transition: transform 1.5s ease-in-out;
    z-index: 100;
    background-color: rgb(54, 54, 54);
    position: fixed;
    width: 25%;
    height: 100%;
    color: white !important;
    overflow-y: auto;
  }
  
  #admin-nav::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0%;
    width: 75%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: 99;
  }
  #admin-nav h2{
    padding: 10px;
    margin: 5px;
  }
  
  #admin-nav.show-nav {
    display: block;
  }
  
  #admin-nav a {
    color: whitesmoke;
    
  }
  
  #admin-nav ul {
    list-style-type: none;
  }
  
  #admin-nav .navbar-logout{
    background-color: white;
    padding: 0;
    width: 100%;
    font-size: 10px;
  }
  
  #admin-nav li {
    margin: 5px;
  }

  #admin-toggle {
    padding: 7px 10px 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media (max-width: 375px) {
      #admin-nav {
        width: 62%;
        position: absolute;
        right: 0;
      }

      #admin-nav::after{
        left: 0%;
      }

      #admin-nav .navbar-logout{
        width: 75%;
      }
  }
  @media (max-width: 430px) {
      #admin-nav {
        width: 50%;
        right: 0;
      }

      #admin-nav::after{
        left: 0%;
        width: 50%;
      }

      #admin-nav .navbar-logout{
        width: 75%;
        color: black;
      }

      #admin-nav ul {
        font-size: 12px;
      }
  }
  @media (min-width: 430px) {
    #admin-nav {
      width: 50%;
      right: 0;
    }

    #admin-nav::after{
      left: 0%;
      width: 50%;
    }
  }
  @media (min-width: 1024px) {
    #admin-nav {
      width: 25%;
      right: 0;
    }

    #admin-nav::after{
      left: 0%;
      width: 75%;
    }
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', function (event) {
      const menuToggle = document.getElementById('admin-toggle');
      const menu = document.getElementById('admin-nav');

      if (event.target === menuToggle) {
        menu.classList.toggle('show-nav');
        if (menu.classList.contains('show-nav')) {
          menuToggle.classList.remove('bi-arrow-left-square-fill');
          menuToggle.classList.add('bi-arrow-right-square-fill');
          } else {
            menuToggle.classList.remove('bi-arrow-right-square-fill');
            menuToggle.classList.add('bi-arrow-left-square-fill');
        }
      } else if (menu.classList.contains('show-nav') && menu.contains(event.target)) {
        menu.classList.remove('show-nav');
        menuToggle.classList.remove('bi-arrow-right-square-fill');
        menuToggle.classList.add('bi-arrow-left-square-fill');
      }
      
    });
  });
</script>
