
<div id="sidebar-menu">
  <button id='nav-toggle' class="bi bi-list"></button>
  <nav class="nav-burger" id="nav-burger">
    
    <ul>
      <li class="current-user-name"><%= "#{current_user.first_name} #{current_user.last_name}" %></li>
      
      <% if current_user.role === "administrador" %>
        <li><%= link_to 'Panel de Administrador', users_path, class:"btn_as_link" %></li>
      <% end %>
      
      <li><%= link_to 'B&M', root_path, class:"btn_as_link" %></li>
    
      <% if current_user.anatomia_a_cursada %>
        <li><%= link_to 'Anatomía A Cursada', producto_anatomy_as_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.anatomia_a_final %>
        <li><%= link_to 'Anatomía A Final', producto_anatomy_a_finals_path, class:"btn_as_link" %></li>
      <% end %>
      
      <% if current_user.anatomia_b_cursada %>
        <li><%= link_to 'Anatomía B Cursada', producto_anatomy_bs_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.anatomia_b_final %>
        <li><%= link_to 'Anatomía B Final', producto_anatomy_b_finals_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.anatomia_c_cursada %>
        <li><%= link_to 'Anatomía C Cursada', producto_anatomy_cs_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.anatomia_c_final %>
        <li><%= link_to 'Anatomía C Final', producto_anatomy_c_finals_path, class:"btn_as_link" %></li>
      <% end %>
      
      <% if current_user.fisiologia_cursada %>
        <li><%= link_to 'Fisiología Cursada', producto_physiologies_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.fisiologia_final %>
        <li><%= link_to 'Fisiología Final', producto_physiology_finals_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.biologia_cursada %>  
        <li><%= link_to 'Biología Cursada', producto_biologies_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.biologia_final %>  
        <li><%= link_to 'Biología Final', producto_biology_finals_path, class:"btn_as_link" %></li>
      <% end %>
      
      <% if current_user.histologia_cursada %>
        <li><%= link_to 'Histología Cursada', producto_histologies_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.histologia_final %>
        <li><%= link_to 'Histología Final', producto_histology_finals_path, class:"btn_as_link" %></li>
      <% end %>
      
      <% if current_user.bioquimica_cursada %>
        <li><%= link_to 'Bioquímica Cursada', producto_biochemistries_path, class:"btn_as_link" %></li>
      <% end %>

      <% if current_user.bioquimica_final %>
        <li><%= link_to 'Bioquímica Final', producto_biochemistry_finals_path, class:"btn_as_link" %></li>
      <% end %>
        
      <li><%= link_to 'Nosotros', about_path, class:"btn_as_link" %></li>
      <li><%= link_to 'Extra', producto_extras_path, class:"btn_as_link" %></li>

      <% if logged_in? %>
        <li><%= button_to 'Cerrar Sesión', logout_path, method: :post, class:"navbar-logout" %></li>
      <% end %>
    </ul>
  </nav>
</div>
<style>
  #sidebar-menu {
    background-color: #ede8df;
  }
  
  #nav-burger {
    display: none;
    transition: transform 1.5s ease-in-out;
    z-index: 100;
    background-color: rgb(54, 54, 54);
    position: fixed;
    width: 25%;
    height: 100%;
    color: white !important;
    overflow-y: auto;
  }
  
  #nav-burger::after {
    content: '';
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: 99;
  }
  #nav-burger h2{
    padding: 10px;
    margin: 5px;
  }
  
  #nav-burger.show-nav {
    display: block;
  }
  
  #nav-burger a {
    color: whitesmoke;
    
  }
  
  #nav-burger ul {
    list-style-type: none;
    font-size: 0.8rem;
  }
  
  #nav-burger .navbar-logout{
    background-color: white;
    padding: 0;
    width: 50%;
    font-size: 10px;
  }
  
  #nav-burger li {
    margin: 5px;
  }
  @media (max-width: 375px) {
      #nav-burger {
        width: 62%;
      }

      #nav-burger::after{
        left: 62%;
      }

      #nav-burger .navbar-logout{
        width: 75%;
        font-size: 0.5rem;
      }
  }
  @media (max-width: 430px) {
      #nav-burger {
        width: 50%;
      }

      #nav-burger::after{
        left: 50%;
        width: 50%;
      }

      #nav-burger .navbar-logout{
        width: 75%;
        color: black;
        font-size: 0.5rem;
      }

      #nav-burger ul {
        font-size: 12px;
      }
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.addEventListener('click', function (event) {
      const menuToggle = document.getElementById('nav-toggle');
      const menu = document.getElementById('nav-burger');

      if (event.target === menuToggle) {
        menu.classList.toggle('show-nav');
        if (menu.classList.contains('show-nav')) {
          menuToggle.classList.remove('bi-list');
          menuToggle.classList.add('bi-x-lg');
        } else {
          menuToggle.classList.remove('bi-x-lg');
          menuToggle.classList.add('bi-list');
        }
      } else if (menu.classList.contains('show-nav') && menu.contains(event.target)) {
        menu.classList.remove('show-nav');
        menuToggle.classList.remove('bi-x-lg');
        menuToggle.classList.add('bi-list');
      }
      
    });
  });
</script>
