<div id="admin_form">
  <div class="card text-center admin_cards">
    <div class="card-body">
      <strong>
        <h5 class="card-title"><%= biology_content.title %></h5>
      </strong>
      
      <h5 class="card-title"><%= raw biology_content.text %></h5>
      
      <p class="card-text"><%= raw biology_content.description %></p>
      <%= link_to "Editar",
        edit_biology_biology_content_path(biology_content.biology, biology_content),
        class: "btn btn-success" %>
      <%= link_to "Eliminar",
      biology_biology_content_path(biology_content.biology, biology_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
