<div id="admin_form">
    <br>
    <h1 class="title_admin"> Editar tema </h1>
    
    <div id="admin_container">
    <br />
    <div class="card text-center admin_card">
      <div class="card-body">
        <%= form_with(model: [@biology, @biology_content], local: true) do |form| %>
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, class: "form-control" %>
          </div>
  
          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: "form-control" %>
          </div>
  
          <div class="form-group">
            <%= form.label :text %>
            <%= form.text_area :text, class: "form-control" %>
          </div>
  
          <div class="text-center">
            <%= form.submit "Actualizar", class: "btn btn-primary" %>
            <%= link_to "Cancelar", biology_path(@biology), class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
    <br />
  </div>
</div>