<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Final de Biología</h1>
    <br>
        <% @biology_finals.each do |biology_final| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to biology_final.title, producto_biology_finals_content_path(biology_final) %></h5>
                    <p class="card-text"><%= raw biology_final.text %></p>
                    <p class="card-text"><%= biology_final.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>