<div id="admin_container">
  <h2 id="admin_form" class="subtitle">Contenido del Final de Biología</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", biology_finals_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @biology_final.title %></h5>
      <p class="card-text"><%= raw @biology_final.text %></p>
      <p class="card-text"><%= raw @biology_final.description %></p>

      
      <%= link_to "Editar", edit_biology_final_path(@biology_final), class:"btn btn-success" %>
      <%= link_to "Eliminar", biology_final_path(@biology_final), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  
  <%= render @biology_final.biology_final_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'biology_final_contents/form' %>

</div>