<div id="admin_container_biochemistries">
  <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;">Cursada de Bioquímica</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_biochemistry_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="biochemistry_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @biochemistries.each do |biochemistry| %>
          <tr>
            <td><%= link_to biochemistry.title, biochemistry_path(biochemistry) %></td>
            <td><%= biochemistry.description %></td>
            <td><%= link_to "Editar", edit_biochemistry_path(biochemistry), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", biochemistry_path(biochemistry), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>