<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Cursada de Bioquímica</h1>
    <br>
        <% @biochemistries.each do |biochemistry| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to biochemistry.title, producto_biochemistries_content_path(biochemistry) %></h5>
                    <p class="card-text"><%= raw biochemistry.text %></p>
                    <p class="card-text"><%= biochemistry.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>