<div id="biochemistry_container">
  <br>
  <h1 class="title_admin" style="text-align: center; margin: 215px 15px 0px;">Contenido de la Cursada de Bioquímica</h1>
  <br>
  <div class="card text-center cursada_card">
    <div class="card-body">
      <h5 class="card-title"><%= @biochemistry.title %></h5>
      <p class="card-text"><%= raw @biochemistry.text %></p>
      <p class="card-text"><%= raw @biochemistry.description %></p>
    </div>
  </div>
    
  
  <h2  class="biochemistry_subtitle"style="text-align: center; margin: 5px; padding: 5px;">Contenido</h2>
  <div class="div_card_container">
    <br />
    <% @biochemistry.biochemistry_contents.each do |biochemistry_contents| %>
      <div class="card text-center div_card_children">
        <div class="card-body">
          <strong>
            <h5 class="card-title"><%= biochemistry_contents.title %></h5>
          </strong>
          <h5 class="card-title"><%= raw biochemistry_contents.text %></h5>
          <p class="card-text"><%= raw biochemistry_contents.description %></p>
        </div>
      </div>
    <% end %>
    <br />
  </div>
</div>