<div id="admin_container">
  <h2 class="subtitle" style="text-align: center; margin: 215px 15px 0px;">Contenido de la Cursada de Bioquímica</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", biochemistries_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @biochemistry.title %></h5>
      <p class="card-text"><%= raw @biochemistry.text %></p>
      <p class="card-text"><%= raw @biochemistry.description %></p>

      
      <%= link_to "Editar", edit_biochemistry_path(@biochemistry), class:"btn btn-success" %>
      <%= link_to "Eliminar", biochemistry_path(@biochemistry), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  <%= render @biochemistry.biochemistry_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'biochemistry_contents/form' %>

</div>