<div id="admin_form">
  <%= form_with model: [ @anatomy_b_final, @anatomy_b_final.anatomy_b_final_contents.build ] do |f| %>
    <div class="form-group div_card">
      <%= f.label 'Título' %><br>
      <%= f.text_field :title, class:"form-control" %>
    </div>
    
    <div class="form-group div_card">
      <%= f.label 'Texto' %><br>
      <%= f.text_field :text, class:"form-control" %><br>
    </div>

    <div class="form-group div_card">
      <%= f.label 'Descripción' %><br>
      <%= f.text_field :description, class:"form-control" %><br>
    </div>
    <div class="div_card" >
      <%= f.submit 'Agregar', class:"btn btn-primary" %>
      <%= link_to "Cancelar", anatomy_b_final_path(@anatomy_b_final), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
<br>