
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
    <header id="header">
      <div class="inner">
        <!-- Logo -->
          <%= link_to root_path, class: "logo" do %>
            <span class="symbol"><%= image_tag("logo.jpg", :alt => "logo", class: 'logo-img') %></span><span class="title">Bottassi & Milone Company</span>
          <% end %>
      </div>
    </header>

  <!-- Main TODO: Dejo la seccion nosotros lista para un futuro
    <div id="main">
      <div class="inner">
        <h1>Nosotros</h1>
        <span class="image main"><%= image_tag("extra.jpg", :alt => "extra") %></span>
        <p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Curabitur sapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus, vel venenatis mauris vehicula hendrerit.</p>
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fersapien risus, commodo eget turpis at, elementum convallis elit. Pellentesque enim turpis, hendrerit tristique lorem ipsum dolor.</p>
      </div>
    </div> -->

    <div id="main">
      <div class="inner about-link">
        <h1>Contáctanos</h1>
        <ul>
          <li><%= link_to 'Instagram', 'https://www.instagram.com/instituto.bm?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==' %></li>
          <li><%= link_to 'WhatsAap', 'https://wa.link/airk2w' %></li>
        </ul>
      </div>
    </div>
</div>