<!-- Wrapper -->
<div id="wrapper" style="background-color: #E2CAAE;">

  <!-- Header -->
    <header id="header">
      <div class="inner">
        <!-- Logo -->
        <div class="image featured first">
          <span class="symbol"><%= image_tag("logo.jpg", :alt => "logo", class: 'logo-img') %></span><span class="title">Bottassi & Milone Company</span>
        </div>
      </div>
    </header>

  

  <!-- Main -->
    <div id="main">
      
      <div class="inner">
        <header>
          <h1>Instituto B&M</h1>
          <p>Instituto creado para la formación de futuros grandes médicos.</p>
        </header>
        <section class="tiles">
          <% if current_user.anatomia_a_cursada %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("anatomia.jpg", :alt => "anatomia") %>
              </span>
              <%= link_to producto_anatomy_as_path do %>
                <h2>Anatomía A</h2>
                <div class="content">
                  <p>Cursada</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.anatomia_a_final %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("anatomia.jpg", :alt => "anatomia") %>
              </span>
              <%= link_to producto_anatomy_a_finals_path do %>
                <h2>Anatomía A</h2>
                <div class="content">
                  <p>Final</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.anatomia_b_cursada %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("anatomia.jpg", :alt => "anatomia") %>
              </span>
              <%= link_to producto_anatomy_bs_path do %>
                <h2>Anatomía B</h2>
                <div class="content">
                  <p>Cursada</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.anatomia_b_final %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("anatomia.jpg", :alt => "anatomia") %>
              </span>
              <%= link_to producto_anatomy_b_finals_path do %>
                <h2>Anatomía B</h2>
                <div class="content">
                  <p>Final</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.anatomia_c_cursada %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("anatomia.jpg", :alt => "anatomia") %>
              </span>
              <%= link_to producto_anatomy_cs_path do %>
                <h2>Anatomía C</h2>
                <div class="content">
                  <p>Cursada</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.anatomia_c_final %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("anatomia.jpg", :alt => "anatomia") %>
              </span>
              <%= link_to producto_anatomy_c_finals_path do %>
                <h2>Anatomía C</h2>
                <div class="content">
                  <p>Final</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.fisiologia_cursada %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("fisiologia.jpg", :alt => "fisiologia") %>
              </span>
              <%= link_to producto_physiologies_path do %>
                <h2>Fisiología</h2>
                <div class="content">
                  <p>Cursada</p>
                </div>
              <% end %>                
            </article>
          <% end %>                
          
          <% if current_user.fisiologia_final %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("fisiologia.jpg", :alt => "fisiologia") %>
              </span>
              <%= link_to producto_physiology_finals_path do %>
                <h2>Fisiología</h2>
                <div class="content">
                  <p>Final</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.biologia_cursada %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("biologia.jpg", :alt => "biologia") %>
              </span>
              <%= link_to producto_biologies_path do %>
                <h2>Biología</h2>
                <div class="content">
                  <p>Cursada</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.biologia_final %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("biologia.jpg", :alt => "biologia") %>
              </span>
              <%= link_to producto_biology_finals_path do %>
                <h2>Biología</h2>
                <div class="content">
                  <p>Final</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.histologia_cursada %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("histologia.jpg", :alt => "histologia") %>
              </span>
              <%= link_to producto_histologies_path do %>
                <h2>Histología</h2>
                <div class="content">
                  <p>Cursada</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.histologia_final %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("histologia.jpg", :alt => "histologia") %>
              </span>
              <%= link_to producto_histology_finals_path do %>
                <h2>Histología</h2>
                <div class="content">
                  <p>Final</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.bioquimica_cursada %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("bioquimica.jpg", :alt => "bioquimica") %>
              </span>
              <%= link_to producto_biochemistries_path do %>
                <h2>Bioquímica</h2>
                <div class="content">
                  <p>Cursada</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

          <% if current_user.bioquimica_final %>
            <article class="img-home">
              <span class="image">
                <%= image_tag("bioquimica.jpg", :alt => "bioquimica") %>
              </span>
              <%= link_to producto_biochemistry_finals_path do %>
                <h2>Bioquímica</h2>
                <div class="content">
                  <p>Final</p>
                </div>
              <% end %>                
            </article>
          <% end %> 

        </section>
      </div>
    </div>
</div>