<div id="admin_form">
  <div class="card text-center admin_cards">
    <div class="card-body">
      <strong>
        <h5 class="card-title"><%= extra_content.title %></h5>
      </strong>
      
      <h5 class="card-title"><%= raw extra_content.text %></h5>
      
      <p class="card-text"><%= raw extra_content.description %></p>
      <%= link_to "Editar",
        edit_extra_extra_content_path(extra_content.extra, extra_content),
        class: "btn btn-success" %>
      <%= link_to "Eliminar",
      extra_extra_content_path(extra_content.extra, extra_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
