<div id="admin_container_histologies">
  <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;">Cursada de Histología</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_histology_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="histology_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @histologies.each do |histology| %>
          <tr>
            <td><%= link_to histology.title, histology_path(histology) %></td>
            <td><%= histology.description %></td>
            <td><%= link_to "Editar", edit_histology_path(histology), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", histology_path(histology), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>