<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Cursada de Histología</h1>
    <br>
        <% @histologies.each do |histology| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to histology.title, producto_histologies_content_path(histology) %></h5>
                    <p class="card-text"><%= raw histology.text %></p>
                    <p class="card-text"><%= histology.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>