<div id="admin_form">
  <%= form_with model: @anatomy_c do |f| %>
    
    <div class="form-group div_card">
      <%= f.label 'Titulo' %><br>
      <%= f.text_field :title, class:"form-control" %>
      <% @anatomy_c.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    
    <div class="form-group div_card">
      <%= f.label 'Link del archivo' %><br>
      <%= f.text_field :text, class:"form-control" %>
      <% @anatomy_c.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="form-group div_card">
      <%= f.label 'Descripción' %><br>
      <%= f.text_area :description, class:"form-control" %><br>
      <% @anatomy_c.errors.full_messages_for(:description).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div class="div_card">
      <%= f.submit class:"btn btn-primary" %>
    </div>
  <% end %>

</div>
<br>