<div id="admin_container_anatomy_cs">
  <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;">Cursada de Anatomía C</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_anatomy_c_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="anatomy_c_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @anatomy_cs.each do |anatomy_c| %>
          <tr>
            <td><%= link_to anatomy_c.title, anatomy_c_path(anatomy_c) %></td>
            <td><%= anatomy_c.description %></td>
            <td><%= link_to "Editar", edit_anatomy_c_path(anatomy_c), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", anatomy_c_path(anatomy_c), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>