<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Cursada de Anatomía C</h1>
    <br>
        <% @anatomy_cs.each do |anatomy_c| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to anatomy_c.title, producto_anatomy_cs_content_path(anatomy_c) %></h5>
                    <p class="card-text"><%= raw anatomy_c.text %></p>
                    <p class="card-text"><%= anatomy_c.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>