<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Cursada de Fisiología</h1>
    <br>
        <% @physiologies.each do |physiology| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to physiology.title, producto_physiologies_content_path(physiology) %></h5>
                    <p class="card-text"><%= raw physiology.text %></p>
                    <p class="card-text"><%= physiology.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>