<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Cursada de Anatomía A</h1>
    <br>
        <% @anatomy_as.each do |anatomy_a| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to anatomy_a.title, producto_anatomy_as_content_path(anatomy_a) %></h5>
                    <p class="card-text"><%= raw anatomy_a.text %></p>
                    <p class="card-text"><%= anatomy_a.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>