<div id="anatomy_a_container">
  <br>
  <h1 class="title_admin" style="text-align: center; margin: 215px 15px 0px;">Contenido de la Cursada de Anatomía A</h1>
  <br>
  <div class="card text-center cursada_card">
    <div class="card-body">
      <h5 class="card-title"><%= @anatomy_a.title %></h5>
      <p class="card-text"><%= raw @anatomy_a.text %></p>
      <p class="card-text"><%= raw @anatomy_a.description %></p>
    </div>
  </div>
    
  
  <h2  class="anatomy_a_subtitle"style="text-align: center; margin: 5px; padding: 5px;">Contenido</h2>
  <div class="div_card_container">
    <br />
    <% @anatomy_a.anatomy_a_contents.each do |anatomy_a_contents| %>
      <div class="card text-center div_card_children">
        <div class="card-body">
          <strong>
            <h5 class="card-title"><%= anatomy_a_contents.title %></h5>
          </strong>
          <h5 class="card-title"><%= raw anatomy_a_contents.text %></h5>
          <p class="card-text"><%= raw anatomy_a_contents.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>