#nav-burger {
  display: none;
  transition: transform 1.5s ease-in-out;
  z-index: 100;
  background-color: rgb(54, 54, 54);
  position: fixed;
  width: 25%;
  height: 100%;
  color: white !important;
  overflow-y: auto;
}

#nav-burger::after {
  content: '';
  position: fixed;
  top: 0;
  left: 25%;
  width: 75%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  z-index: 99;
}
#nav-burger h2{
  padding: 10px;
  margin: 5px;
}

#nav-burger.show-nav {
  display: block;
}

#nav-burger a {
  color: whitesmoke;
  
}

#nav-burger ul {
  list-style-type: none;
}

#nav-burger .navbar-logout{
  background-color: white;
  padding: 0;
  width: 100%;
  font-size: 10px;
}

#nav-burger li {
  margin: 5px;
}


/*RESPONSIVE*/

@media (max-width: 375px) {
  #nav-burger{
    width: 60%;
  }
  #nav-burger::after{
    left: 60%;
    width: 40%;
  }
  .navbar-logout{
    padding: 0;
    width: 100%;
    font-size: 10px;
  }
}

@media (min-width: 375px) {
  #nav-burger{
    width: 60%;
  }
  #menu-burger::after{
    left: 60%;
    width: 40%;
  }
  .navbar-logout{
    padding: 0;
    width: 100%;
    font-size: 10px;
  }
}

