<div id="admin_container_extras">
  <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;">Extras</h1>
  <div class="link_new_theme">
    <p class="link_new_theme"><%= link_to "Nuevo Tema", new_extra_path, class: "btn btn-warning mb-2" %></p>
  </div>
  <div class="table-responsive">
    <table id="extra_table" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th class="pink-background">Título</th>
          <th class="pink-background">Descripción</th>
          <th class="pink-background">Editar</th>
          <th class="pink-background">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @extras.each do |extra| %>
          <tr>
            <td><%= link_to extra.title, extra_path(extra) %></td>
            <td><%= extra.description %></td>
            <td><%= link_to "Editar", edit_extra_path(extra), class: "btn btn-success" %></td>
            <td><%= link_to "Eliminar", extra_path(extra), data: { turbo_method: :delete, turbo_confirm: "¿Estás seguro?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>