<div id="admin_container">
    <br>
    <h1 class="title_admin" style="text-align: center; padding: 215px 15px 0px;;">Extras</h1>
    <br>
        <% @extras.each do |extra| %>
            <div class="card text-center admin_card"  style="background-color: #E2CAAE; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title"><%= link_to extra.title, producto_extras_content_path(extra) %></h5>
                    <p class="card-text"><%= raw extra.text %></p>
                    <p class="card-text"><%= extra.description %></p>
                </div>
            </div>
            <br>
        <% end %>

</div>
<br>