<div id="extra_container">
  <br>
  <h1 class="title_admin" style="text-align: center; margin: 215px 15px 0px;">Contenido Extra</h1>
  <br>
  <div class="card text-center cursada_card">
    <div class="card-body">
      <h5 class="card-title"><%= @extra.title %></h5>
      <p class="card-text"><%= raw @extra.text %></p>
      <p class="card-text"><%= raw @extra.description %></p>
    </div>
  </div>
    
  
  <h2  class="extra_subtitle"style="text-align: center; margin: 5px; padding: 5px;">Contenido</h2>
  <div class="div_card_container">
    <br />
    <% @extra.extra_contents.each do |extra_contents| %>
      <div class="card text-center div_card_children">
        <div class="card-body">
          <strong>
            <h5 class="card-title"><%= extra_contents.title %></h5>
          </strong>
          <h5 class="card-title"><%= raw extra_contents.text %></h5>
          <p class="card-text"><%= raw extra_contents.description %></p>
        </div>
      </div>
    <% end %>
    <br />
  </div>
</div>