<div id="admin_container">
  <h2 class="subtitle" style="text-align: center; margin: 215px 15px 0px;">Contenido Extra</h2>
  <br>
  <div class="link_new_theme" style="text-align: center;">
    <p class="link_new_theme"><%= link_to "Cursadas", extras_path, class: "btn btn-warning mb-2" %></p>
  </div>  
  <br>
  <div class="card text-center admin_card">
    <div class="card-body">
      <h5 class="card-title"><%= @extra.title %></h5>
      <p class="card-text"><%= raw @extra.text %></p>
      <p class="card-text"><%= raw @extra.description %></p>

      
      <%= link_to "Editar", edit_extra_path(@extra), class:"btn btn-success" %>
      <%= link_to "Eliminar", extra_path(@extra), data: {
        turbo_method: :delete,
        turbo_confirm: "Estas seguro?"
      }, class:"btn btn-danger" %>
    </div>
  </div>
    
  <%= render @extra.extra_contents %>
  
  <h2 id="admin_form" class="subtitle">Agregar Contenido</h2>
  <%= render 'extra_contents/form' %>

</div>