<div id="admin_form">
  <div class="card text-center admin_cards">
    <div class="card-body">
      <strong>
        <h5 class="card-title"><%= histology_content.title %></h5>
      </strong>
      
      <h5 class="card-title"><%= raw histology_content.text %></h5>
      
      <p class="card-text"><%= raw histology_content.description %></p>
      <%= link_to "Editar",
        edit_histology_histology_content_path(histology_content.histology, histology_content),
        class: "btn btn-success" %>
      <%= link_to "Eliminar",
      histology_histology_content_path(histology_content.histology, histology_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
