<div id="admin_container">
  <div class="card text-center admin_card">
    <div class="card-body">
      <strong>
        <h5 class="card-title"><%= histology_final_content.title %></h5>
      </strong>
      
      <h5 class="card-title"><%= raw histology_final_content.text %></h5>
      
      <p class="card-text"><%= raw histology_final_content.description %></p>
      <%= link_to "Editar",
        edit_histology_final_histology_final_content_path(histology_final_content.histology_final, histology_final_content),
        class: "btn btn-success" %>
      <%= link_to "Eliminar",
      histology_final_histology_final_content_path(histology_final_content.histology_final, histology_final_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
