<!DOCTYPE html>
<html>
  <head>
    <title>Instituto B&M</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'logo.jpg' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless current_page?(login_path) %>
      <%= render partial: 'shared/navbar'%>
    <% end %>
    <%= yield %>
    <% unless current_page?(login_path) %>
      <%= render partial: 'shared/footer'%>
    <% end %>
  </body>
</html>
