<div id="admin_form">
  <div class="card text-center admin_cards">
    <div class="card-body">
      <strong>
        <h5 class="card-title"><%= biochemistry_content.title %></h5>
      </strong>
      
      <h5 class="card-title"><%= raw biochemistry_content.text %></h5>
      
      <p class="card-text"><%= raw biochemistry_content.description %></p>
      <%= link_to "Editar",
        edit_biochemistry_biochemistry_content_path(biochemistry_content.biochemistry, biochemistry_content),
        class: "btn btn-success" %>
      <%= link_to "Eliminar",
      biochemistry_biochemistry_content_path(biochemistry_content.biochemistry, biochemistry_content), method: :delete, data:
      {turbo_method: :delete, turbo_confirm: '¿Estas segura/o que queres
      eliminar este contenido?'}, class:"btn btn-danger" %>
    </div>
  </div>
  <br />
</div>
